*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
    font-family: tahoma;
}
body{
    width: 100%;
    height: auto;
    background:#ffffff;
    color: gray;
    font-family: tahoma;
}
h1,h2{
    color: rgb(231, 120, 23);

}
span{
    color: rgb(231, 120, 23) ;
}
.container1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 170px;
    font-family: tahoma;
}
.logo{
    margin:20px 0 10px -30%;
    width: 15%;
    height: 120px;
    background: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
}
.name{
    /*
    this div contains the name of the website
    */
    color: rgb(231, 120, 23);
    word-spacing: 2px;
    margin: 20px 0 0 -60%;
    width: 20%;
    
}
.product ol{
    /*
    the ordered (ol) list is used in the creation of the drop-down menu that appears when you hover over the product link. 
    */
    display: none;
}
ol li{
    list-style: none;
    margin: 4px 0 0 0;
}
ol{
    margin: 9px 0 0 0;
}
nav{
    width: 100%;
    height: 120px;
    background: rgb(0, 0, 0);
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul li a:hover{
    color:rgb(255, 100, 100) ;
    text-decoration: underline;
}

.container2{
    width: 100%;
    height: 550px;
    background-color:#2a2d3f;
    color: white;
    display: flex;
}
.container2 div{
    width: 100%;   
}
.img{
    /*
    this div contains the sliding images
    */
    animation: afunwa;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 16px;
}
@keyframes afunwa{
    0%{
    background: url('../images/a1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    5%{
        background: url('../images/IMG-20211218-WA0028.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    10%{
         background: url('../images/IMG-20211218-WA0005.jpg');
         background-size: 100% 100%;
         background-repeat: no-repeat;
        }
    15%{
        background: url('../images/IMG-20211218-WA0008.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
         }
    20%{
        background: url('../images/FB_IMG_16534101060246057.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    25%{
        background: url('../images/IMG-20211218-WA0016.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    30%{
        background: url('../images/IMG-20211218-WA0017.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    35%{
        background: url('../images/IMG-20211218-WA0030.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    40%{
        background: url('../images/IMG-20211218-WA0031.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    45%{
        background: url('../images/IMG-20211218-WA0032.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    50%{
        background: url('../images/IMG-20211218-WA0033.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    55%{
        background: url('../images/FB_IMG_16517369997488607.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    60%{
        background: url('../images/IMG-20211218-WA0018.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    65%{
        background: url('../images/IMG-20211218-WA0056.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    70%{
        background: url('../images/IMG-20211218-WA0035.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    75%{
        background: url('../images/IMG-20211218-WA0025.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    80%{
        background: url('../images/IMG-20211218-WA0059.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    85%{
        background: url('../images/IMG-20211218-WA0060.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    90%{
        background: url('../images/IMG-20211218-WA0026.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    95%{
        background: url('../images/IMG-20211218-WA0062.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
    100%{
        background: url('../images/IMG-20211218-WA0023.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        }
}
#shop{
    /*
    the second div in container 01
    */
    display: inline-block;
    width: 20%;
    height: 50px;
    background-color: white;
    color: red;
    text-align: center;
    margin: 90px 0 0 10px;
    padding-top: 10px;
    border:3px solid white;
    border-radius:10px
}
#shop:hover{
    background: rgb(231, 120, 23);
    color: white;
    border: 1px solid rgb(231, 120, 23);
}
.container01{
    width: 100%;
    height: 550px;
    background-color: #2a2d3f;
    padding: 100px 20px 20px 20px;
    color: white;
}
.container3{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.container3 div{
    width: 15%;
    height: 200px;
    margin-top: 100px;
}
.container3 div a{
    text-decoration: none;
}
.one{
     /*
    contained in container3
    */
    border-radius: 17px;
    background: url('../images/a1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#inside1, #inside2, #inside3{
     /*
    all contained in container3
    */
    display: block;
    width: 55%;
    height: 50px;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: #2a2d3f;
    color: white;
    border-radius: 7px;
    margin: 50px 0 0 0;
}
#inside1:hover{
    background: red;
    color: white;
}
#inside2:hover{
    background: red;
    color: white;
}
#inside3:hover{
    background: red;
    color: white;
}
.two{
     /*
    a div inside container3
    */
    border-radius: 17px;
    background: url('../images/m-shoe.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.three{
     /*
    a div inside container3
    */
    border-radius: 17px;
    background: url('../images/FB_IMG_16517369997488607.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

article{
    width: 100%;
    height: 150px;
    background-color: #2a2d3f;
    color: white;
    padding: 50px 0 0 40px;
    margin: 0 0 70px 0;
}
.container4, .container5, .container6{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.c1{
     /*
    a div in container4
    */
    border-radius: 17px;
    background: url('../images/FB_IMG_16534101060246057.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c2{
     /*
    a div in container4
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0005.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c3{
     /*
    a div in container4
    */
    border-radius: 17px;
    background: url('../images/FB_IMG_16534101006880311.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c4{
     /*
    a div in container5
    */
    border-radius: 17px;
    background: url('../images/FB_IMG_16517369997488607.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c5{
     /*
    a div in container5
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0008.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c6{
     /*
    a div in container5
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0004.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c7{
     /*
    a div in container6
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0068.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c8{
     /*
    a div in container6
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0032.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.c9{
     /*
    a div in container6
    */
    border-radius: 17px;
    background: url('../images/IMG-20211218-WA0044.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container4 div{
    width: 30%;
    height: 300px;
    margin-top: 40px;
}
.container5 div{
    width: 30%;
    height: 300px;
    margin-top: 10px;
}
.container6 div{
    width: 30%;
    height: 300px;
    margin: 10px 0 0 0;
}
.container7{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px 0 0 0;
    background:#2a2d3f;
    color:white;
    margin:70px 0 70px 0;
}
.testimonial{
     /*
    the div that contains the blinking 'CLIENTS TESTIMONIAL'
    */
    animation-name: uche;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes uche{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1.0);
    }
}
.container8{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.container8 div{
    width: 30%;
    height: 300px;
    color: black;
    padding: 50px 0 0 0;
}
.container9, .container10, .container11, .container12{
     /*
    .container9 is in women.html page
    */
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}
.container9 img{
    width: 30%;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
.container10 img{
     /*
    .container10 is in men.html page
    */
    width: 30%;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
.container11 img{
    /*
   .container11 is in shoes.html page
   */
   width: 30%;
   height: 300px;
   margin: 15px;
   border-radius: 10px;
}
.container12 img{
    /*
   .container12 is in top-sellers.html page
   */
   width: 30%;
   height: 300px;
   margin: 15px 0 40px 0;
   border-radius: 10px;
}
.container13{
    width: 100%;
    height: 500px;
    padding: 40px 10px 0 10px;
    text-align: justify;
    color: rgb(0, 0, 0);
    
}
.sub-footer{
    width: 100%;
    height: 700px;
    background-color: #2a2d3f;
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}
.sub-footer div{
    width: 30%;
    height: auto;
    margin-top: 40px;
    text-align: justify;
}
.sub-footer div img{
    width: 12%;
    height: 50px;
}
footer{
    width: 100%;
    height: 50Px;
    background-color: gray;
    color: white;
    padding: 10px 0 0 20px;
}
@media screen and (max-width: 1199px){
    .name{
        font-size:small;
        padding: 40px 0 0 0;
    }
}
@media screen and (max-width: 992px) {
    .name{
        font-size: x-small;
    }
    #shop{
        margin: 40px 0 0 10px;
    }
    #inside1, #inside2, #inside3{
        height: auto;
    }
    .sub-footer{
        height: 800px;
    }
    .sub-footer div img{
        width: 15%;
    }
}
@media screen and (max-width: 767px) {
    .name{
        width: 30%;
        padding: 20px 0 0 0;
        margin: 40px 0 0 -20%;
    }
    .logo{
        margin: 40px 0 0 -9%;
    }
    .container1{
        height: 200px;
    }
    nav ul{
        font-size: small;
    }
    .container2{
        height: 520px;
    }
    #inside1, #inside2, #inside3{
        width: 70%;
        height: auto;
    }
    .container8{
        height: 600px;
        text-align: justify;
    }
    .container11{
        width: 100%;
        display: flex;
    }
    .container11 img{
        width: 25%;
        margin-bottom: 20px;
    }
    .sub-footer{
        height: 850px;
    }
}
@media screen and (max-width: 575px){
    
    .logo{
      width: 20%;
      height: 120px;  
      margin:20px 0 10px -18%;
    }
    .name{
        font-size:xx-small;
        margin: 20px 0 0 -40%;
    }
    nav ul{
        font-size: x-small;
    }
    ol li{
        margin: 0 0 10px 0;
    }
    #shop{
        width: auto;
        height: auto;
    }
    .container1{
        width: 100%;
        height: 170px;
    }
    .container2{  
        height: 400px;
    }
    .container2 div {
        width: 100%;
        height: 400px;
    }
    .container3, article{
        display: none;
    }
    .container4, .container5, .container6{
        background-color: black;
        flex-direction: column;
        height: 1000px;
    }
    .container8{
        flex-direction: column;
        height: 1000px;
    }
    .container4 div{
        width: 100%;
        min-height: 300px;
    }
    .container5 div {
        width: 100%;
    }
    .container6 div {
        width: 100%;
    }
    .container8 div{
        width: 100%;
        height: -8px;
        padding: 10px;
    }
    .container9, .container10, .container11, .container12{
        flex-direction: column;
    }
    .container9 img{
        width: 100%;
    }
    .container10 img{
        width: 100%;
    }
    .container11 img{
        width: 100%;
    }
    .container12 img{
        width: 100%;
    }
    .container13{
        width: 100%;
        height: auto;
    }
    .sub-footer{
        flex-direction: column;
        width: 100%;
        height: 1500px;
    }
    .sub-footer div{
        width: 100%;
        padding: 10px;
    }
    .sub-footer div img{
        width: 20%;
        height: 45px;
        padding: 0 0 0 20px;
        
    }
    .social-media-icons{
        margin: 0 0 40px 0;
        
    }
    footer{
        width: 100%;
        height: 60px;
    }
    
}
    
